<head>
  <title>Newsletter Subscription System</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <link rel="stylesheet" href="/app.css">
  <link rel="icon" type="image/png" href="https://img.icons8.com/doodle/48/000000/newsletter.png"/>
</head>
<body>
  <form action='/signout'>
    <button id=bt1>Sign-out</button>
  </form>
  <div>
    <h1>Registered users</h1>
    <p>Total Registered users are <%= data1.length %></p>
  <form action='/sort'>
    
    <button>Sort by date</button>
  </form>
  <table class="table table-inverse">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Email</th>
        <th>Created at</th>
      </tr>
    </thead>
  
    <tbody>
      <% for(var i=0; i < data1.length; i++) { %>
      <tr>
        <td><%= data1[i].u_id %></td>
        <td><%= data1[i].email %></td>
        <td><%= data1[i].created_at %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <div><h2 style="height: auto;color:black;">Newsletters<h2></div>
    <p>Total Newsletters are <%= data2.length%></p>
  <table class="table table-inverse">
    <thead>
      <tr>
        <th> ID</th>
        <th>Name</th>
        <th>Total Subscribers</th>
      </tr>
    </thead>
  
  <tbody>
    <% for(var i=0; i < data2.length; i++) { %>
    <tr>
      <td><%= data2[i].n_id %></td>
      <td><%= data2[i].name %></td>
      <td><%= data2[i].c %></td>
    </tr>
    <% } %>
  </tbody>
</table>
  
      <form action='/newsletter'>
        <button type="submit">Add Newsletters</button></form>
</div>
</body>